body{
    background-color: #1d1d1d;
}

img{
    width: 100%;
}
#temporizador{
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 15%;
    left: 10%;
    
}

#time{
    font-size: 48px;
    font-weight: bold;
}
