body{
    background-color: #1d1d1d;
}

img{
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 10px #000 ;
}

.wallpaper{
    margin: auto;
    position: relative;
    max-width: 500px;    
}

.contagem{
    position: absolute;
    top: 30%;
    bottom: 50%;
    left: 10%;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

#time{
    font-size: 3.5rem;
    font-weight: bold;
}
