body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 16px;
}

.lightmode {
    background-color: white;
    color: black;
}

.darkmode {
    background-color: #1d1d1d;
    color: white;
}

#hoje {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
}

.wallpaper {
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 10px #000;
    transition: background-image 0.5s ease-in-out;
}

.icon_timer {
    color: #ffffff;
    position: absolute;
    top: 16px;
    right: 16px;
}

.contagem {
    padding: 16px;
    background-color: #00000080;
    border-radius: 16px 16px 0 0;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.count {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

#time {
    font-size: 3.5rem;
    font-weight: bold;
}

button[OnClick] {
    background-color: rgb(17, 145, 196);
    border: none;
    border-radius: 8px;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    color: #ffffff;
    font-weight: bold;
    height: 48px;
    width: 100%;
}

#icon_light_mode {
    color: rgb(255, 136, 0);
}

#countdown1 {
    font-weight: bold;
    font-size: 2.5rem;
}

@media only screen and (min-width:480px) and (orientation: landscape) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    #hoje {
        width: 40%;
    }

    .count {
        float: left;
        width: 40%;
    }

    button[OnClick] {
        float: left;
        width: 40%;
    }

    .wallpaper {
        float: right;
        height: 80%;
        width: 40%;
    }

}